<div>
    <h2 class="about-heading">About Me</h2>
    <!-- This is now the only heading -->
    <div class="row about-container">
        <div class="about-text">
            <p>
                Hi there! I’m Melissa, the passionate baker behind McNamara Pie
                Company. Baking has always been my way of expressing creativity,
                and I’m thrilled to share my love for delicious, homemade treats
                with you. What started as a hobby in my home kitchen has turned
                into a small business where I craft baked goods from scratch using
                only the finest ingredients. I can’t wait to bake something
                special just for you!
            </p>
            <p>
                Email:
                <a href="mailto:mcnamarapieco@gmail.com">mcnamarapieco@gmail.com</a>
            </p>
            <p>Phone: 519-919-2285</p>
        </div>
        <div class="about-image">
            <img
                src="./Images/ImagesAboutMe/SideImageAboutME.png"
                alt="About Me Image"
            />
        </div>
    </div>
</div>