<h3 class="section-title">TESTIMONIALS</h3>
<h2 class="main-title">What do clients think of McNamara Pie Company</h2>
<div class="scroller">
    <div class="testimonial-container scroller__inner">
        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/Chris.jpg" alt="Chris" class="testimonial-img" />
            <h4>Chris Jamo</h4>
            <div class="stars">★ ★ ★ ★ ★</div>
            <p>"The banana cream pie was a hit with my family! The smooth filling and fresh bananas made it a delightful treat. We all loved it and would definitely have it again!"</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/Daria.jpg" alt="Daria" class="testimonial-img" />
            <h4>Daria Deriagina</h4>
            <div class="stars">★ ★ ★ ★ ★</div>
            <p>"The cherry pie was absolutely delicious! The crust was perfectly flaky, and the filling had just the right balance of sweet and tart. I would definitely have it again!"</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/Moe.jpeg" alt="Mohammad" class="testimonial-img" />
            <h4>Mohammad Kanso</h4>
            <div class="stars">★ ★ ★ ★ ★</div>
            <p>"The Blueberry Pie was incredible! 🫐🥧 The filling was bursting with juicy blueberries, and the crust was golden and buttery. Perfect balance of sweetness—highly recommend! 😍"</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/Bassam.jpg" alt="Bassam" class="testimonial-img" />
            <h4>Bassam Salibi</h4>
            <div class="stars">★ ★ ★ ★ ★</div>
            <p>"The Apple Pie was amazing! 🍏🥧 The crust was flaky, and the cinnamon-spiced apples were perfectly sweet. Tasted homemade and super fresh! Definitely ordering again. 😊"</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/Jamie.jpg" alt="Jamie" class="testimonial-img" />
            <h4>Jamie Virtue</h4>
            <div class="stars">★ ★ ★ ★ ★</div>
            <p>"Coconut cream pie has always been a favorite of mine and I can definitely say Melissa's was the best I've had. 10/10 would have again"</p>
        </div>
    </div>
</div>