<h3 class="section-title">TESTIMONIALS</h3>
<h2 class="main-title">What do clients think of McNamaraPieCo</h2>
<div class="scroller">
    <div class="testimonial-container scroller__inner">
        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/avaPic1.png" alt="image1" class="testimonial-img" />
            <h4>Name1</h4>
            <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
            <p>Review</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/avaPic1.png" alt="image1" class="testimonial-img" />
            <h4>Name2</h4>
            <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
            <p>Review</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/avaPic1.png" alt="image1" class="testimonial-img" />
            <h4>Name3</h4>
            <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
            <p>Review</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/avaPic2.png" alt="image2" class="testimonial-img" />
            <h4>Name4</h4>
            <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
            <p>Review</p>
        </div>

        <div class="testimonial-card">
            <img src="./Images/testimonialsImages/avaPic3.png" alt="image2" class="testimonial-img" />
            <h4>Name5</h4>
            <div class="stars">&#9733; &#9733; &#9734; &#9734; &#9734;</div>
            <p>Review</p>
        </div>
    </div>
</div>
